<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!DOCTYPE html>
<html>
<head>
    <title>Message Statistics</title>
</head>
<body>
    <h1>Total Messages: {{ message_count }}</h1>
</body>
</html>

</body>
</html>